<html>
    <head>
        <title>The Common Game</title>
        <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>The Comme Game</h1>
        <button hx-post="/api/game" hx-target=".game" hx-swap="innerHTML">
            Start a New Game
        </button>

        <div class="game"></div>
        <script>
        const moves = []

        function toggleSelection(m, word) {
            var i = 0
            var next = 0
            var len = 0
            var shouldAdd = true
            var nextSet = false

            m.forEach((w) => {
                if (w == word) {
                    m[i] = undefined
                    shouldAdd = false
                } else if (w != undefined) {
                    if (!nextSet) {
                        next++
                    }

                    len++
                } else {
                    if (!nextSet) {
                        nextSet = true
                        next = i
                    }
                }

                i++
            })

            if (shouldAdd && len < 4) {
                m[next] = word
            }
        }

        document.querySelector(".game").addEventListener("click", function (evt) {
            const piece = evt.target.closest(".game-board li")

            if (piece) {
                const word = piece.attributes.getNamedItem("data-value").value

                console.log(`Selected ${word}`)
                toggleSelection(moves, word)
                console.log(`Moves: ${moves}`)
            }
        })
        </script>
    </body>
</html>
