.game {
    width: 600px;
    aspect-ratio: 1;

    @media (max-width: 600px) {
        width: 100%;
    }

    h3 {
        /* display: none; */
    }

    .game-piece {
        width: 100%;
        aspect-ratio: 1;

        &.selected {
            background-color: #CFCFCF;
        }

        &.wrong {
            background-color: #EF0038;
        }

        &.correct[data-subject="0"] {
            background-color: lightblue;
        }

        &.correct[data-subject="1"] {
            background-color: lightpink;
        }

        &.correct[data-subject="2"] {
            background-color: lightgoldenrodyellow;
        }

        &.correct[data-subject="3"] {
            background-color: lightsteelblue;
        }
    }
}

